@using Microsoft.AspNetCore.Components.Authorization

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                <LayoutView>
                    <p class="text-danger">Você não tem permissão para acessar esta página.</p>
                </LayoutView>
            </NotAuthorized>
            <Authorizing>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Carregando autorização...</p>
                </LayoutView>
            </Authorizing>
        </AuthorizeRouteView>

        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>

    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Desculpe, essa página não foi encontrada.</p>
        </LayoutView>
    </NotFound>
</Router>
